# Archivos de caché de Python
src/**/__pycache__/

# Archivos de byte compilados de Python
*.pyc
*.pyo
*.pyd

# Directorio de ambiente virtual
env/

# Carpeta de construcción
build/
dist/
*.egg-info/

# Archivos de registro y caché
*.log
*.cache

# Carpeta de archivos de usuario
*.swp
*~
.DS_Store
