{% extends './base.html' %}

{% block title %}compartetusazon{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">compartetusazon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recetas">Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accesibilidad">Recetas especiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contacto</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registrate</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<section class="ftco-section">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
    <h2 class="heading-section">Pagina de contacto</h2>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-md-12">
    <div class="wrapper">
    <div class="row mb-5">
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-map-marker"></span>
    </div>
    <div class="text">
    <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
    </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-phone"></span>
    </div>
    <div class="text">
    <p><span>Phone:</span> <a href="tel://1234567920">+ 52 878 138 6020</a></p>
    </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-paper-plane"></span>
    </div>
    <div class="text">
    <p><span>Email:</span> <a href="/cdn-cgi/l/email-protection#0a63646c654a73657f7879637e6f24696567"><span class="__cf_email__" data-cfemail="1c75727a735c6573696e6f756879327f7371">compartetusazon@gmail.com</span></a></p>
    </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="dbox w-100 text-center">
    <div class="icon d-flex align-items-center justify-content-center">
    <span class="fa fa-globe"></span>
    </div>
    <div class="text">
    <p><span>Sitio web</span> <a href="http://localhost:5000/">compartetusazon.com</a></p>
    </div>
    </div>
    </div>
    </div>
    <div class="row no-gutters">
    <div class="col-md-7">
    <div class="contact-wrap w-100 p-md-5 p-4">
    <h3 class="mb-4">Contactanos</h3>
    <div id="form-message-warning" class="mb-4"></div>
    <form method="post" class="contactForm" action="/send_email">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label class="label" for="name">Nombre</label>
    <input type="text" class="form-control" name="nombre" id="name" placeholder="Name">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label class="label" for="email">Correo Electrónico</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <label class="label" for="subject">Asunto</label>
    <input type="text" class="form-control" name="asunto" id="asunto" placeholder="Subject">
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <label class="label" for="#">Mensaje</label>
    <textarea name="mensaje" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <input type="submit" value="Enviar correo" class="btn btn-primary">
    <div class="submitting"></div>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    <div class="col-md-5 d-flex align-items-stretch">
    <div class="info-wrap w-100 p-5 img" style="background-image: url(images/img.jpg);">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"867694663e1f52b9","version":"2024.3.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
{% endblock %}