{% extends './base.html' %}

{% block title %}compartetusazon{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">compartetusazon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recetas">Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accesibilidad">Recetas especiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contacto</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registrate</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="display-4">¡Bienvenido a compartetusazon!</h1>
                <p class="lead">Comparte tus recetas y descubre nuevas formas de cocinar de manera inclusiva.
                    Encuentra inspiración para adaptar tus platos favoritos a diferentes necesidades dietéticas y
                    capacidades.</p>
                <a href="/recetas" class="btn btn-primary btn-lg btn-explorar">Explorar Recetas</a>
            </div>
            <div class="col-lg-6">
                <!-- Placeholder for an image -->
                <img src="{{ url_for('static', filename='img/recetas-con-pechuga-de-pollo.jpg') }}" class="img-fluid" alt="receta con pechuga de pollo">
            </div>
        </div>
    </div>
</section>

<!-- Quiénes Somos/Conócenos Section -->
<section class="about">
    <div class="container">
        <h2 class="text-center mb-4">¿Quiénes Somos?</h2>
        <p class="text-center">
            ¡Bienvenido a nuestro foro culinario, el destino definitivo para los amantes de la cocina! Aquí, en nuestra vibrante comunidad, encontrarás un tesoro de recetas que abarcan desde platos principales hasta postres irresistibles y todo lo que hay en medio. 
        </p>
        <p class="text-center">
            Explora una amplia variedad de recetas cuidadosamente seleccionadas, desde clásicos reconfortantes hasta creaciones innovadoras, todas creadas por miembros apasionados de nuestra comunidad. ¿Buscas una receta vegana reconfortante para una noche fría de invierno? ¿O tal vez te apetece probar tu mano en la elaboración de un pastel decadente para una ocasión especial? No importa cuál sea tu deseo culinario, estamos aquí para ayudarte a convertirlo en realidad.
        </p>
    </div>
</section>

<!-- Quiénes Somos/Conócenos Section -->
<section class="recetas-trending">
    <div class="container">
        <h2 class="text-center mb-4">Conoce nuestras recetas mas populares</h2>
        <div class="row">
            {% for recipes in recipes %}
            <div class="col-lg-4">
                <div class="image-container">
                    <a href="{{ url_for('ver_receta', nombre_receta=recipes.ruta_receta) }}"><img src="{{ url_for('static', filename='img/' + recipes.img_receta) }}" class="img-fluid" alt="{{ recipes.titulo_receta }}"></a>
                    <div class="image-overlay">
                        <h3>{{ recipes.titulo_receta }}</h3>
                        {{ recipes.descripcion_receta | safe}}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>

<!-- Redes Sociales Section -->
<section class="social-media">
    <div class="container text-center">
        <h2>Síguenos en Redes Sociales</h2>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f fa-xl"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/home?lang=es"><i class="fa-brands fa-x-twitter fa-xl"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
        </ul>
    </div>
</section>

<!-- Formulario de Contacto -->
<section class="contact">
    <div class="container">
        <h2 class="text-center mb-4">Contáctanos</h2>
        <div class="row">
            <div class="col-md-6">
                <!-- Mapa de Google -->
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1237.292004005016!2d-100.53097844433242!3d28.70190087230361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1708711968764!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Formulario de Contacto -->
                <form action="/send_email" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label for="asunto" class="form-label">Asunto</label>
                        <input type="text" class="form-control" name="asunto">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" name="mensaje" rows="5"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </form>
                <!-- Información de Contacto -->
                <div class="mt-4">
                    <p><i class="fas fa-map-marker-alt"></i> Dirección: 123 Calle Principal, Ciudad, País</p>
                    <p><i class="fas fa-phone"></i> Teléfono: +1234567890</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-4">
    <div class="container">
        <p>&copy; 2024 compartetusazon. Todos los derechos reservados.</p>
    </div>
</footer>
{% endblock %}